@import '../../assets/scss/reset.scss';
@import '../../assets/scss/_function.scss';
@import '../../assets/scss/typography.scss';

$imgBaseurl: "../../assets/images/";

.login-page-container {
  height: 100%;
}
.login-page.view {
  background: #fff url("../../assets/images/login/login-bg-top.png") no-repeat top center;
  background-size: 100%;
  position: relative;
}
.login-page-logo {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    max-width: 134px;
  }
}
.login-page-company{
  display: block;
  width: 100%;
  font-size: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    max-width: 329px;
  }
}

.login-page {
  width:100%;
  height:100%;
  font-size: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
.login-head{
  width: 100%;
  height: 17.5px;
  padding:0 19px;
  &-content{
    width:100%;
    height: 17.5px;
    background: #FFF;
    border-radius: 15px 15px 0 0;
  }
}
.login-page-top{
  width: 100%;
  height: 50%;
  min-height: 250px;
  overflow: hidden;
  background: transparent;
  background-size: 100% 100%;
  padding-top: 0.1px;
  &-upper {
    width: 100%;
    margin-top: 4%;
  }
}
.login-form {
  padding-top: 15px;
  width: 100%;
  &-out {
    width: 100%;
    height: 50%;
    min-height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-account {
    width: 100%;
    min-width: 208px;
    max-width: 320px;
    margin: 0 auto;
  }
  &-list {
    width: 80%;
    height:100%;
    margin: 0 auto;
    &--label {
      display: block;
      position: relative;
      width: 100%;
      height: 36px;
      font-size: 0;
      margin-bottom:25px;
      -webkit-tap-highlight-cnpmolor: #fff;
      @include mobile-border((border-bottom:1px solid #000));
      h3{
        display: inline-block;
        vertical-align: top;
        width:  45px;
        height: 35px;
      }
      span{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 45px);
        height: 35px;
        line-height: 35px;
      }
    }
    &--label:active{
      background: none;
    }
    &--input {
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      padding-left: 12px;
      border: none;
      // @include mobile-border2(bottom,1px solid #cccccc);
      @include placeholderColor(#999);
      background: transparent;
      font-size: $fontSize2;
      font-size: 14px;
      line-height: 1;
      outline: none;
    }
    .icon-username {
      background: url("../../assets/images/login/user-agent-icon.png") no-repeat center;
      background-size: 18px;
    }
    .icon-password {
      background: url("../../assets/images/login/password-icon.png") no-repeat center;
      background-size: 18px;
    }
  }
}
.login-href {
  width: 231px;
  height: 29px;
  line-height: 29px;
  margin: 0 auto;
  &-register {
    float: left;
  }
  &-forgetpassword {
    float: right;
  }
}
.login-btn-wrap {
  width:100%;
  height: 55%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.login-btn {
  display: block;
  width: 100%;
  height: 100%;
  font-size: $fontSize4;
  text-align: center;
  color: #000;
  border-radius: 18px;
  font-size: 15px;
}
.login-btn-out{
  width: 77%;
  max-width: 240px;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  z-index: 8;
  margin: 0 auto;
  background-image: linear-gradient( 90deg, rgb(236,187,31) 0%, rgb(255,228,78) 100%);
  background-image: -moz-linear-gradient( 90deg, rgb(236,187,31) 0%, rgb(255,228,78) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(236,187,31) 0%, rgb(255,228,78) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(236,187,31) 0%, rgb(255,228,78) 100%);
  box-shadow: 3.18px 5.088px 10px 0px rgba(208, 162, 5, 0.43);
}
.login-to-computer{
  width: 100%;
  font-size: 12px;
  color:#ccc;
  margin: 70px 0 15px;
  .take-computer {
    width: 77px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
  }
}
@media screen and (max-height: 400px) {
  .login-form {
    width: 100%;
    &-out {
      float: left;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
    }
    &-account {
      width: 100%;
      min-width: 208px;
      max-width: 320px;
      margin: 0 auto;
    }
    &-list {
      width: 80%;
      height:100%;
      margin: 0 auto;
      &--label {
        display: block;
        position: relative;
        width: 100%;
        height: 36px;
        font-size: 0;
        margin-bottom:25px;
        -webkit-tap-highlight-cnpmolor: #fff;
        @include mobile-border((border-bottom:1px solid #000));
        h3{
          display: inline-block;
          vertical-align: top;
          width:  45px;
          height: 35px;
        }
        span{
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 45px);
          height: 35px;
          line-height: 35px;
        }
      }
      &--label:active{
        background: none;
      }
      &--input {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        padding-left: 12px;
        border: none;
        // @include mobile-border2(bottom,1px solid #cccccc);
        @include placeholderColor(#999);
        background: transparent;
        font-size: $fontSize2;
        font-size: 14px;
        line-height: 1;
        outline: none;
      }
      .icon-username {
        background: url("../../assets/images/login/user-agent-icon.png") no-repeat center;
        background-size: 18px;
      }
      .icon-password {
        background: url("../../assets/images/login/password-icon.png") no-repeat center;
        background-size: 18px;
      }
    }
  }
}
@media screen and (max-height: 550px) {
  .login-page-top{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
    min-height: 250px;
    overflow: hidden;
    background: transparent;
    background-size: 100% 100%;
    padding-top: 0.1px;
    &-upper {
      width: 100%;
      margin-top: -20%;
    }
  }
  .login-form {
    width: 100%;
    padding-top: 15px;
    &-out {
      float: left;
      width: 50%;
      height: 100%;
      display: flex;
      // flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    &-account {
      width: 100%;
      min-width: 208px;
      max-width: 320px;
      margin: 0 auto;
    }
    &-list {
      width: 80%;
      height:100%;
      margin: 0 auto;
      &--label {
        display: block;
        position: relative;
        width: 100%;
        height: 36px;
        font-size: 0;
        margin-bottom:25px;
        -webkit-tap-highlight-cnpmolor: #fff;
        @include mobile-border((border-bottom:1px solid #000));
        h3{
          display: inline-block;
          vertical-align: top;
          width:  45px;
          height: 35px;
        }
        span{
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 45px);
          height: 35px;
          line-height: 35px;
        }
      }
      &--label:active{
        background: none;
      }
      &--input {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        padding-left: 12px;
        border: none;
        // @include mobile-border2(bottom,1px solid #cccccc);
        @include placeholderColor(#999);
        background: transparent;
        font-size: $fontSize2;
        font-size: 14px;
        line-height: 1;
        outline: none;
      }
      .icon-username {
        background: url("../../assets/images/login/user-agent-icon.png") no-repeat center;
        background-size: 18px;
      }
      .icon-password {
        background: url("../../assets/images/login/password-icon.png") no-repeat center;
        background-size: 18px;
      }
    }
  }
  .login-page-logo {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    text-align: center;
    img {
      display: inline-block;
      vertical-align: middle;
      width: 22%;
      max-width: 134px;
    }
  }
  .login-page-company{
    display: block;
    width: 100%;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    img {
      display: inline-block;
      vertical-align: middle;
      width: 66%;
      max-width: 329px;
    }
  }
}
@media screen and (max-width: 450px) {
  .login-page-top{
    width: 100%;
    height: 50%;
    min-height: 250px;
    overflow: hidden;
    background: transparent;
    background-size: 100% 100%;
    padding-top: 0.1px;
    &-upper {
      width: 100%;
      margin-top: 4%;
    }
  }
  .login-form {
    width: 100%;
    &-out {
      width: 100%;
      height: 50%;
      min-height: 250px;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
    }
    &-account {
      width: 100%;
      min-width: 208px;
      max-width: 320px;
      margin: 0 auto;
    }
    &-list {
      width: 80%;
      height:100%;
      margin: 0 auto;
      &--label {
        display: block;
        position: relative;
        width: 100%;
        height: 36px;
        font-size: 0;
        margin-bottom:25px;
        -webkit-tap-highlight-cnpmolor: #fff;
        @include mobile-border((border-bottom:1px solid #000));
        h3{
          display: inline-block;
          vertical-align: top;
          width:  45px;
          height: 35px;
        }
        span{
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 45px);
          height: 35px;
          line-height: 35px;
        }
      }
      &--label:active{
        background: none;
      }
      &--input {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        padding-left: 12px;
        border: none;
        // @include mobile-border2(bottom,1px solid #cccccc);
        @include placeholderColor(#999);
        background: transparent;
        font-size: $fontSize2;
        font-size: 14px;
        line-height: 1;
        outline: none;
      }
      .icon-username {
        background: url("../../assets/images/login/user-agent-icon.png") no-repeat center;
        background-size: 18px;
      }
      .icon-password {
        background: url("../../assets/images/login/password-icon.png") no-repeat center;
        background-size: 18px;
      }
    }
  }
}