.historyLists-head {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historyLists-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  padding-left: 12px;
  background: url(../../assets/images/index/selected-data.png) no-repeat center left;
  background-size: 8px 22px;
}
.details-button {
  font-size: 0;
  span {
    display: inline-block;
    font-size: 15px;
    color: #333;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
  }
}
