
$display4: 112px;
$display3: 56px;
$display2: 45px;
$display1: 34px;

// $headline:   24px;  // 大标题 regular
// $title:      20px;  // 大标题 medium
// $subheading: 16px;  // 副标题 regular
// $body2:      14px;  // 内容2  medium
// $body1:      14px;  // 内容1  regular
// $caption:    12px;  // 标题   regular
// $button:     14px;  // 按钮   medium

// $title1: 18px;
// $body1: 13px;
// $button1: 15px;

$fontSize1: 12px;
$fontSize2: 13px;
$fontSize3: 14px;
$fontSize4: 15px;
$fontSize5: 16px;
$fontSize6: 18px;
$fontSize7: 24px;
$fontSize8: 43px;
$fontSize9: 21px;

$black-color1: #333333;
$black-color2: #444444;
$black-color3: #666666;
$black-color4: #777777;
$black-color5: #999999;
$black-color6: #eeeeee;

$primary-color1: #ab9717;
$primary-color2: #ab9417;
$primary-color3: #e87607;
$primary-color4: #a89417;


$white-color1: #ffffff;

$refresh-shadow: 1.878px 3.532px 5px 0px rgba(181, 155, 11, 0.27);
$refresh-gradient: linear-gradient( -29deg, rgb(227,211,106) 0%, rgb(243,212,0) 100%);

$tree-shadow: 1.878px 3.532px 5px 0px rgba(181, 155, 11, 0.27);
$tree-gradient: linear-gradient( -29deg, rgb(227,211,106) 0%, rgb(243,212,0) 100%);

$idLink-shadow: 1.878px 3.532px 5px 0px rgba(181, 155, 11, 0.27);
$idLink-gradient: linear-gradient( -29deg, rgb(227,211,106) 0%, rgb(243,212,0) 100%);