@import '../../assets/scss/function';

.the-btn-wrap {
  width:100%;
  display: inline-block;
}
.the-btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  &.large {
    width: 150px;
    height: 35px;
    line-height: 35px;
    border-radius: 17px;
    font-size:15px;
    background: #ecbe03;
    color: #fff;
    text-align: center;
    margin:0 auto;
  }
  &.normal {
    @include btn(125px, 35px, 15px);
    display: inline-block;
    margin: 0 20px;
  }
  &.small {
    @include btn(80px,30px,14px);
    list-style:none;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
}