input {
  background: transparent;
}
.page {
  padding-top: 0;
  background-color: #eeeeee;
}
.report {
  background-color: rgb(238, 238, 238);
  margin-bottom: 40px;
}
.report-menu-wrapper {
  margin-top: 16px;
}
.period-select-wrap {
  padding: 0 5px;
  margin-bottom: 16px;
}
.period-select-wrap .select-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 16px 10px 0;
}
.agent-tip-wrap {
  margin: 10px 0;
}
.direct-btn-row {
  font-size: 0;
  line-height: 1;
  color: #666;
  overflow: hidden;
  span {
    display: inline-block;
    width: 50%;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    font-size: 12px;
    outline: none;
    background: transparent;
  }
  .interval {
    width: 1px;
    margin: 0 5px;
    line-height: 26px;
  }
  .direct {
    color: #A8941C;
    text-align: right;
  }
  .all {
    color: #A8941C;
    text-align: left;
  }
}
.report-check {
  padding-top: 0.1px;
}
.report-check-box {
  width: 100%;
  max-width: 750px;
  // padding: 0 8% 10px;
  margin: 0 auto;
}

// report-check-first-type
.report-check-first-type {
  position: relative;
  margin-bottom: 20px;
  &-button {
    position: absolute;
    right: 8%;
    bottom: 5px;
    height: 26px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    color: #333;
    background-color: #fff;
    border-radius: 13px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 12px;
  }
}
.report-check-first-title {
  width: 84%;
  font-size: 15px;
  line-height: 20px;
  margin: 10px auto;
}
.report-check-first-content {
  width: 84%;
  margin: 10px auto;
  li {
    width: 45%;
    border-bottom: 1px solid #333;
    margin-bottom: 6px;
    h3 {
      float: left;
      width: 40px;
      line-height: 32px;
    }
    input {
      float: left;
      width: calc(100% - 40px);
      height: 32px;
      // line-height: 32px;
      border: 0;
      background: transparent;
    }
  }
  li:nth-of-type(odd) {
    float: left;
  }
  li:nth-of-type(even) {
    float: right;
  }
  li:last-of-type {
    h3 {
      width: 76px;
    }
    input {
      width: calc(100% - 76px);
    }
  }
  .query-form-order {
    h3 {
      width: 50px;
    }
    input {
      width: calc(100% - 50px);
    }
  }
  &::after {
    display: block;
    content: '.';
    font-size: 0;
    clear: both;
  }
}
.report-check-container {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 12px 0;
}
.report-check--button {
  display: inline-block;
  height: 32px;
  line-height: 34px;
  padding: 0 24px;
  margin-right: 20px;
  overflow: hidden;
  font-size: 14px;
  color: #666;
  background-color: #e5d35c;
  border-radius: 43px;
  outline: none;
  box-shadow: 0.939px 1.766px 3px 0px rgba(181, 155, 11, 0.27);
}
.report-check--button .mb-ripple-container {
  overflow: hidden;
  border-radius: 43px;
}
// report-check-second-type
.report-check-second-type {
  .season-time-content {
    width: 100%;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    label {
      width: 50px;
      text-align: right;
      input {
        display: none;
      }
    }
    .season-checked {
      background: url(../../assets/images/report/checked.png) no-repeat
        center left;
      background-size: 16px;
    }
    .season-unchecked {
      background: url(../../assets/images/report/unchecked.png) no-repeat
        center left;
      background-size: 16px;
    }
  }
}

.el-input__prefix .el-icon-time:before {
  content: '\E608';
}
.el-input__prefix .el-icon-date:before {
  content: '';
}

.query-date {
  width: 84%;
  font-size: 15px;
  line-height: 20px;
  margin: 10px auto;
}
.sum-tr {
  td:first-of-type {
    color: #A8941C;
    font-weight: bold;
  }
}
.other-time-selector {
  display: flex;
  justify-content: left;
  width: 84%;
  height: 35px;
  align-items: center;
  font-size: 15px;
  line-height: 35px;
  color: #333;
  margin: 25px 0 20px 15px;
  .title {
    width: 90px;
    text-align: left;
    white-space: nowrap;
  }
}
.anumber-selector {
  display: flex;
  justify-content: left;
  width: 84%;
  height: 35px;
  align-items: center;
  border-bottom: 1px solid #666;
  font-size: 15px;
  color: #333;
  margin: 0 auto;
  margin-top: 12px;
  label {
    white-space: nowrap;
  }
  .el {
    &-input {
      &__inner {
        border: none;
        font-size: 15px;
        color: #333;
        height: 34px;
        line-height: 0;
        background-color: transparent;
      }
      &__suffix {
        display: none;
      }
    }
  }
}
// 直属 全部
.report-directly-all {
  button {
    display: inline-block;
    width: 32px;
    color: #ecbe03;
    border: none;
    outline: none;
    background: transparent;
  }
  .directly {
    padding-right: 5px;
  }
  .all {
    padding-left: 5px;
  }
  .interval {
    color: #666;
    line-height: 18px;
  }
}
// 所有报表适用
// 每行第一个td添加左边距
body .page .report .report-not-close-edge {
  padding-left: 10px;
}
// 文字居中
body .page .report .report-center-show {
  text-align: center;
  padding-right: 20px;
}